<div class="main-container">
    <header>
        <nav>
            <!-- <button id="btn" routerLink="/login">تسجيل الدخول</button> -->
            <span class="profile" routerLink="/edit-profile">الملف الشخصي <i><img
                        src="../../../../assets/web/ic_user.svg" alt=""></i></span>
            <ul>
                <li><a href="#">من نحن</a></li>
                <li><a href="#">الاختصاصات</a></li>
                <li><a href="#">الرئيسية</a></li>
            </ul>
            <div class="logo"><img src="../../../../assets/web/Logo & Profile.png" alt=""></div>
        </nav>
    </header>
</div>