form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

@media(max-width:767px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
        text-align: right;
    }
}

.uname,.phone {
    margin-right: 5px;
    margin-bottom: 15px;
}

h4 {
    text-align: center;
    margin-bottom: 40px;
}

::placeholder {
    text-align: right;
    padding: 5px;
    color: #bbb;
    font-size: 11px;
    font-family: Alexandria-light;
}

.rightlogin {
    background-color: var(--maincolor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    border-style: dashed;
    border-color: var(--maincolor);
    font-size: 14px;
}

.leftlogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .leftlogin img {
    width: 500px;
    height: 500px;
}

input {
    direction: rtl;
    border-radius: 5px;
    background-color: #eadcec;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

#uname {
    margin-bottom: 30px;
}

#code {
    margin-bottom: 50px;
}

#btn {
    color: #fff;
    background-color: var(--maincolor);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

#acc {
    border: none;
    background-color: #fff;
    width: 80px;
    color: var(--maincolor);
    cursor: pointer;
}

.acc {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


input.ng-invalid.ng-dirty {
    border: red 1px solid;
}

small {
    color: red;
}

.radio{
    display: flex;
    flex-wrap: wrap ;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 5px;
    justify-content: flex-end;
}

label[for="spec"]{
    margin-right: 5px;
}

.spec{
    margin-right: 5px;
    margin-left: 3rem;
}

.spec,input[type=radio]{
    margin-bottom: 1rem;
}

.spec{
    color: black;
}

input[id=phone]{
    margin-bottom: 2rem;
}

@media (max-width: 767px){
    label {
        color: var(--maincolor);
    }

    h4 {
        text-align: center;
        margin-bottom: 40px;
        transform: translate(0,-300px) ;
    }

    .rightlogin {
        background-color: #fff;
    }

    .login {
        border-style: none;
        height: 400px;
        transform: translate(0,-150px) ;
    }

    form .leftlogin img {
        width: 300px;
        height: 300px;
        transform: translate(0,50px) ;
    }

    input {
        background-color: rgb(233, 241, 245);
        border: none;
    }
}
