<app-header></app-header>

<div class="main-container">

    <!-- قسم الاعلان  -->
    <div class="advertis">
        <img class="adv-img" src="../../../../assets/images/pic-of-ad.jpg">
    </div>

    <!-- قسم دورات او بنك الأسئلة -->
    <div class="first-container">
        <div class="bank"> بنك الأسئلة </div>
        <div class="dawrat">الدورات </div>
    </div>

    <div class="spec">
        <p>التصنيفات</p>
    </div>

    <!-- قسم المواد  -->
    <div class="subject-container">
        <div class="box">الاتومات </div>
        <div class="box">قواعد المعطيات</div>
        <div class="box"> داتا بيز</div>
        <div class="box"> المترجمات</div>
        <div class="box"> هندسة البرمجيات</div>
        <div class="box">الشبكات</div>
        <div class="box">الذكاء الاصطناعي</div>
        <div class="box"> خوارزميات</div>
        <div class="box">أمن معلومات </div>
    </div>

</div>


<app-footer></app-footer>