<app-header></app-header>

<div class="start-test">

    <div class="back">
        <h5> العودة</h5> <img class="back-icon" src="../../../../assets/web/ic_arrow_back.svg" [routerLink]="'/course-selection'" >
    </div>

    <div class="test-title">
        <h2 class="first-h2"> اختبار الشبكات</h2>
        <div class="spans">
            <span class="span2">علامة النجاح 100</span>
            <span class="span1">50 سؤال</span>
        </div>
    </div>

    <div class="directions-title">
        <h2 class="second-h2"> تعليمات هامة </h2>
        <ul>
            <li>ابدأ الاختبار سوف ينقلك الى صفحة السؤال</li>
            <li>للتحقق من صحة إجابتك اضغط على اشارة الصح اسفل السؤال سوف تظهر لك الاجابة صحيحة او خاطئة</li>
            <li>إشارة الكتاب سوف تظهر لك مرجع السؤال</li>
            <li>كما يمكنك الحصول على النتيجة في اخر الاختبار ........ بالتوفيق</li>
        </ul>
        <button> ابدأ الاختبار</button>
    </div>
</div>