<div class="question-container">
    <div class="the-ques">
        <h2 class="question-number"> السؤال الأول </h2>
        <p class="Isques"> الخدمة بأفضل جهد في بروتوكول _ الانترنت IPV4 تعني ان : </p>
        <div class="answer-container">
            <div class="answer">
                <input type="radio" id="option1" name="options" value="option1">
                <div class="ans">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم بالاأخطاء</div>
            </div>

            <div class="answer">
                <input type="radio" id="option2" name="options" value="option2">
                <div class="ans">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم بالاأخطاء</div>
            </div>

            <div class="answer">
                <input type="radio" id="option3" name="options" value="option3">
                <div class="ans">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم بالاأخطاء</div>
            </div>

            <div class="answer">
                <input type="radio" id="option4" name="options" value="option4">
                <div class="ans">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم بالاأخطاء</div>
            </div>

            <div class="answer">
                <input type="radio" id="option5" name="options" value="option5">
                <div class="ans">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم بالاأخطاء</div>
            </div>
        </div>
        <div class="prop">
            <div class="icons">
                <img src="../assets/web/ic_answer_correct.svg">
                <img class="star" src="../assets/web/ic_star_empty.svg">
                <img class="book" src="../assets/web/ic_book.svg">
            </div>

            <button type="submit"> التالي</button>
        </div>
    </div>
</div>