<div class="main-container">
    <header>
        <nav>
            <button id="btn" routerLink="/login">تسجيل الدخول</button>
            <!-- <span class="profile" routerLink="/edit-profile">الملف الشخصي <i><img
                        src="../../../../assets/web/ic_user.svg" alt=""></i></span> -->
            <ul>
                <li><a href="#">من نحن</a></li>
                <li><a href="#">الاختصاصات</a></li>
                <li><a href="#">الرئيسية</a></li>
            </ul>
            <div class="logo"><img src="../../../../assets/web/Logo & Profile.png" alt=""></div>
        </nav>
    </header>
</div>

<!-- القسم الأول من الصفحة -->
<div class="ad-start-container">
    <div class="advertis">
        <img class="adv-img" src="../../../../assets/images/pic-of-ad.jpg">
    </div>
    <div class="start">
        <h4> طريقك الأسهل لإجتياز الفحص <br> الوطني الموحد</h4>
        <p class="para-firstsection">أصبح بإمكانك الحصول على اسئلة الامتحان الوطني بكل سهولة<br>
            من مكان واحد فقط “اطلع - اختبر - احصل على النتيجة
        </p>
        <button class="btn-start" value="ابدأ الآن"> ابدأ الآن</button>
    </div>
</div>

<!--  specialization section  -->
<div class="spec-title">
    <h5>الإختصاصات</h5>
</div>
<div class="specialization">
    <div id="nurs" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/nurs.svg">
        <span> التمريض </span>
    </div>
    <div id="phar" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/pharmacy.svg">
        <span> الصيدلة </span>
    </div>
    <div id="den" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/dentist.svg">
        <span> طب الأسنان </span>
    </div>
    <div id="dr" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/DR.svg">
        <span> الطب البشري</span>
    </div>
    <div id="arch" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/ARCH.svg">
        <span> الهندسة المعمارية </span>
    </div>
    <div id="it" class="spec" routerLink="/login">
        <img class="icon" src="../../../../assets/web/It.svg">
        <span> الهندسة المعلوماتية</span>
    </div>
</div>

<!-- last section of home Page -->
<div class="last-section">
    <div class="background">
        <div class="content">
            <p class="para-lastsection">
                يمكنك تنزيل التطبيق و استخدامه اينما كنت
            </p>
            <p class="para-lastsection">
                متوفر على انظمة الاندرويد و الايفون
            </p>
            <div class="stores">
                <a> <img src="../../../../assets/images/store.png"></a>
                <a> <img src="../../../../assets/images/app.png"> </a>
            </div>
        </div>
        <div class="div-mobile">
            <img class="mobile-pic" src="../../../../assets/images/photo-mobile.png">
        </div>
    </div>
</div>

<app-footer></app-footer>