<footer>
    <img class="logo" src="../../../../assets/web/Logo & Profile.png" alt="">
    <div class="top">
        <p>الشروط والاستخدام </p>
        <p>سياسة الخصوصية</p>
    </div>
    <div class="bottom">
        <img src="../../../../assets/web/ic_facebook.svg" alt="">
        <img src="../../../../assets/web/ic_instagram.svg" alt="">
        <p>جميع الحقوق محفوظة 2023</p>
    </div>
</footer>

<nav>
    <!-- <img src="../../../../assets/images/" alt=""> -->
    <img src="../../../../assets/images/mobile-icon/ic_nav_bar_profile.svg" alt="">
    <img src="../../../../assets/images/mobile-icon/ic_nav_bar_important_questions.svg" alt="">
    <img src="../../../../assets/mobile-icon/ic_nav_bar_profile.svg" alt="">
</nav>